// .file-input {
//     display: none;
//   }

#avatar1 {
  background: url(../../../assets/avatar1.png);
  width: 100px;
  height: 100px;
}

#avatar2 {
  background: url(../../../assets/avatar2.png);
  width: 100px;
  height: 100px;
}

#avatar3 {
  background: url(../../../assets/avatar3.png);
  width: 100px;
  height: 100px;
}

#avatar4 {
  background: url(../../../assets/avatar4.png);
  width: 100px;
  height: 100px;
}

#avatar4 {
  background: url(../../../assets/avatar5.png);
  width: 100px;
  height: 100px;
}

#avatar0 {
  background: url(../../../assets/avatar0.png);
  width: 100px;
  height: 100px;
}

.special-word { 
  font-size: 0;
} 
//"../../../assets/color.png"