<h1>Modifier le dessin</h1>
<div id="info">
    <div>
        <mat-form-field class="input" floatLabel="always" appearance="outline">
            <mat-label>Nouveau nom</mat-label>
            <input #drawingname matInput id="drawing" type="text" name="drawing" required [(ngModel)]="drawingNAME">
        </mat-form-field> 
    </div>
    <div id="visib">
        <label for="checkbox">Public: </label>
        <input type="checkbox" id="checkbox" (change)="toggleEditable($event)">
    </div>
    <div>
        <button mat-raised-button id="confirmer" class="buto" (click)="updateDrawing()">Confirmer</button>
    </div>
</div>

