<h1>Créer un dessin</h1>
<div id="info5">
    <div>
        <mat-form-field class="input" floatLabel="always" appearance="outline" class="opt2">
            <mat-label>Nom du dessin</mat-label>
            <input #drawingname matInput id="drawing" type="text" name="drawing" required [(ngModel)]="drawing">
        </mat-form-field> 
    </div>
    <div id="createDraw2">        
        <div > <mat-form-field appearance="fill" class="opt2">
            <mat-label>Choisissez la visibilité</mat-label>
            <mat-select (selectionChange)="chooseVisib($event.value)">
              <mat-option value="public">public</mat-option>
              <mat-option value="protected">public avec mot de pass</mat-option>
              <mat-option value="private">privé</mat-option>
            </mat-select>
          </mat-form-field> 
        </div>
        <div *ngIf="visibi2 == 'protected'">
            <mat-form-field class="input" floatLabel="always" appearance="outline" class="opt2">
                <mat-label>Mot de pass</mat-label>
                <input matInput id="drawing" type="text" name="password" required [(ngModel)]="password">
            </mat-form-field> 
        </div>

    </div>
    <div id="updateButtonsDraw2">
        <button mat-raised-button id="annulerCreationDrawing" class="buto" (click)="cancelCreate()">ANNULER</button>
        <button mat-raised-button id="créer" class="buto" (click)="createDrawing(drawingname.value)">CRÉER</button>
    </div>
</div>
 
