<!DOCTYPE html>
<html>
    <body>

        <div class="title">
            <h1 id="title">UN TITRE</h1>
            <button (click)="logout()" class = "btn" id="logout" routerLink = "">Déconnexion</button>
        </div>

        <!-- <div class="outer">
            <div class="middle">
                <div class="inner"> -->

                    <button mat-raised-button>Menu compte</button>
                    <button mat-raised-button routerLink="/sidenav" (click)="newDrawing()">Accéder au chat</button>

                <!-- </div>
            </div>
        </div> -->
    </body>
</html>
