.wrapper {
    position: relative;
}

#title100 {
    background-color: #592bc7;
    color: azure;
}


#title101 {
    margin-left: 50px;
    display: inline-block;
}

#logout {
    float: right;
    border: black;
}