<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Chat</title>
</head>
<body>
  
  <div class="title">
    <h1 id="title">Chat</h1>
    <button (click)="logout()" class = "btn" id="logout" routerLink = "">Déconnexion</button>
  </div>

  <div class="chat-container">
    
    <main class="chat-main">
      <!-- <div class="test"></div>> -->
      <div class="chat-messages" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="overflow-y:auto">
					<div class="message-area" id="message-area" *ngFor="let msg of this.message">
              {{ msg }}
					</div>
          <div class="right">
            <div class="message-others" id="message-others" *ngFor="let msg of this.others" style="text-align:right">
              {{ msg }}
          </div>
        </div>
      </div>
    </main>
    
    <div class="chat-form-container">
      <textarea #chatinput class="child" maxlength ="500" required></textarea>
      <!--<button (click)="sendchatinput(chatinput.value)" class="child">Envoyé</button>-->
      <button (click)="sendchatinput(chatinput.value)" class="btn"><i class="fa fa-send" style="font-size:50px"></i></button>
    </div>
  </div>

</body>
</html>
