<h1>Créer un canal</h1>

<div>
    <mat-form-field class="input" floatLabel="always" appearance="outline">
        <mat-label>Entrer le nom du nouveau canal</mat-label>
        <input #roomname matInput id="room" type="text" name="room" required [(ngModel)]="room">
    </mat-form-field> 
    <p id="errorCanal">Vous ne pouvez pas mettre des champs vides</p>
</div>
<div>
    <button mat-raised-button id="annulerCreateCanal" >Annuler</button>
    <button mat-raised-button id="createCanal" (click)="create(roomname.value)">Créer</button>
</div>
