<!DOCTYPE html>
<html>
    <main [@routeAnimations] = "prepareRoute(outlet)" class="content">
        <router-outlet #outlet = "outlet"></router-outlet>
    <body>

        <div id="title2">
            <h1>{{createTitle}}</h1>
        </div>

        <div class="outer">
            <div class="middle">
                <div style="text-align:center;">Avatar</div>
                <div class="inner">
                    
                    <button mat-raised-button id="avatar1" value="avatar1" (click)="image($event.target)" ><span class='special-word'>1</span></button>
                    <button mat-raised-button id="avatar2" value="avatar2" (click)="image($event.target)" ><span class='special-word'>2</span></button>
                    <button mat-raised-button id="avatar3" value="avatar3" (click)="image($event.target)" ><span class='special-word'>3</span></button>
                    <button mat-raised-button id="avatar4" value="avatar4" (click)="image($event.target)" ><span class='special-word'>4</span></button>
                    <button mat-raised-button id="avatar5" value="avatar5" (click)="image($event.target)" ><span class='special-word'>5</span></button>

                    <div class="pseudo">
                        <mat-form-field class="input" floatLabel="always" appearance="outline">
                            <mat-label>Pseudo</mat-label>
                            <input matInput id="name" type="text" name="username" required required [(ngModel)]="name">
                        </mat-form-field> 
                    </div>

                    <div class="email">    
                        <mat-form-field class="input" floatLabel="always" appearance="outline">
                            <mat-label>{{emai}}</mat-label>
                            <input matInput id="mail" type="text" name="email" required required [(ngModel)]="mail">
                        </mat-form-field> 
                    </div>

                    <div class="pass">    
                        <mat-form-field class="input" floatLabel="always" appearance="outline">
                            <mat-label>{{password}}</mat-label>
                            <input matInput id="pass" type="password" name="password" required required [(ngModel)]="pass">
                        </mat-form-field> 
                    </div>

                    <div class="pass">    
                        <mat-form-field id="myForm" class="input" floatLabel="always" appearance="outline"> 
                            <mat-label>{{repeatPass}}</mat-label>
                            <input matInput id="passRepeat" type="password" name="passrepeat" required [(ngModel)]="passRepeat">
                        </mat-form-field> 
                    </div>

                    <div>
                        <p id="error">{{error1}}</p>
                    </div>

                    <button mat-raised-button id="buttonMain5" (click)="cancelClick()">{{cancel}}</button>
                    <button mat-raised-button id="buttonMain6" (click)="closeClick()" >{{confirm}}</button>
                    <button mat-raised-button id="buttonMain7" (click)="openAvatar()" >Avatar</button>

                </div>
            </div>
        </div>
    </body>
</main>
</html>