.title {
    background-color: #592bc7;
    color: azure;
}

#title {
    margin-left: 50px;
}

// .container {
//     margin: auto;
//     text-align: center;
//     height: 500px;
//     vertical-align: middle;
//     line-height: 500px;  
// }

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* Whatever width you want */
}

.pseudo {
    position: relative;
    display: block;
    height: 60px;
}

.email {
    position: relative;
    display: block;
    height: 60px;
}

.pass {
    position: relative;
    display: block;
    height: 70px;
}

mat-label {
    color: black;
}

button {
    width: 150px;
    margin: 5px;
    background-color: #592bc7;
    color:azure;
}

body {
    background-color: #b6d1db;
    overflow: hidden;
}

#error {
    visibility: hidden;
    color: red;
}