<h1>Liste de tous les utilisateurs dans ce dessin</h1>


<div class="listUsers" *ngFor="let users of activeUsers[0]">
    <div class="listUsersText">
        <p id="userID" >
            {{users}}
        </p> 
    </div>
    <div class="listUsersButtons">
        <button mat-raised-button id="userIDButton" (click)="addFriend($event.target)" >
            Ajouter comme ami <span class='special-word'>{{users}}</span>
        </button>
    </div>
</div>
<div>
    <button mat-raised-button (click)="closeModal()"> Fermer </button>
</div>
