<div class="wrapper">
    <div class="title">
        <h1 id="title">Changer de salle</h1>
        <button (click)="logout()" class = "btn" id="logout" routerLink = "">Déconnexion</button>
    </div>

    <!-- <div class="rooms" id="rooms" *ngFor="let roomName of this.list" style="text-align:right">
        {{ roomName }}
    </div> -->

    <div class="subtext-container">
<div>
    <mat-form-field class="input" floatLabel="always" appearance="outline">
        <mat-label>Nom de la nouvelle salle</mat-label>
        <input #roomname matInput id="room" type="text" name="room" required [(ngModel)]="room">
    </mat-form-field> 
 
    <button mat-raised-button id="createRoom" (click)="create(roomname.value)">Créer une salle</button>
</div>
<div>

    <mat-form-field class="search" floatLabel="always" appearance="outline">
        <mat-label>Nom de la salle</mat-label>
        <input #roomname matInput id="room" type="text" name="room" required >
    </mat-form-field> 
 
    <button mat-raised-button class="searchRoom" (click)="create(roomname.value)">Trouver une salle</button>
</div>
    </div>



    <div class="listRooms">
        <button mat-raised-button id="roomID" *ngFor="let buttonText of buttonsTexts" (click)="changeRoom($event.target)">
            {{buttonText}}
        </button>
    </div>

    <!-- <button mat-raised-button class="cancel" (click)="cancel()">Annuler</button> -->

    <div>
        <p id="error">Vous etes déjà dans cette salle.</p>
    </div>
</div>


