<div class="wrapper">
    <div class="title">
        <h1 id="title">Changer de salle</h1>
        <button (click)="logout()" class = "btn" id="logout" routerLink = "">Déconnexion</button>
    </div>

    <!-- <div class="rooms" id="rooms" *ngFor="let roomName of this.list" style="text-align:right">
        {{ roomName }}
    </div> -->

    <button id="roomID" *ngFor="let buttonText of buttonsTexts" (click)="changeRoom($event.target)">
        {{buttonText}}
    </button>

    <button mat-raised-button (click)="create(roomname.value)">Créer une salle</button>
    <div class="roomForm">
        <mat-form-field class="input" floatLabel="always" appearance="outline">
            <mat-label>Nom de salle</mat-label>
            <input #roomname matInput id="room" type="text" name="room" required [(ngModel)]="room">
        </mat-form-field> 
    </div>
    <!-- <button mat-raised-button class="cancel" (click)="cancel()">Annuler</button> -->

    <div>
        <p id="error">Vous etes déjà dans cette salle.</p>
    </div>
</div>


