.wrapper {
    width: 800px;
    height: 400px;
    position: relative;
}

.title {
    background-color: #592bc7;
    color: azure;
}

#title {
    margin-left: 50px;
	display: inline-block;
}

#error {
    visibility: hidden;
    color: red;
}