<h1>Changer les paramètres</h1>

<form action="/action_page.php">

    <label for="languages">Chosir la langue:</label>
    <select (change)="language($event)">
        <option value="1">Français</option>
        <option value="2">English</option>
    </select>
    <br><br>

    <label for="cars">Choisir le thème:</label>
    <select name="cars" id="cars">
      <option value="theme2">theme2</option>
      <option value="theme3">theme3</option>
      <option value="theme4">theme4</option>
    </select>
    <br><br>

</form>



  






