
  <div>Chat</div>

  <div>
    <label for="chat">login:</label>
    <input type="text" #username>
    <input type="text" #password>
    <button (click)="login()">login</button>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
     <label for="chat">chat input:</label>
     <textarea id="chat" #chatinput></textarea>
     <button (click)="sendchatinput(chatinput.value)">SEND</button>
     &nbsp;
     &nbsp;
     <label for="room">room:</label>
     <textarea id="room" #createroom></textarea>
     <button (click)="createRoom(createroom.value)">Create Room</button>
  </div>
  <br>
  <br>
  <div id="rooms" #rooms>
    rooms
  </div>
  <br>
  <br>
  <br>
  <div>
    <label>logout:</label>
    <button (click)="logout()">logout</button>
  </div>
  
  
